* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Yatra One", Arial, Helvetica, sans-serif;
}

body {
    display: flex
}

section {
    width: 50%;
    min-height: 100vh;
}

h1 {
    font-size: 3em;
}

p, button {
    font-size: 1.25em;
}

img {
    width: 128px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #a8896c;
}

.statistics_and_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
}

.message {
    display: flex;
    align-items: center;
    height: 25%;

}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #61b292;
}

.headers {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.headers, .bottom_buffer {
    height: 15%;
}

.headers > h2 {
    font-size: 3em;
}

.units_and_upgrades {
    display: flex;
    justify-content: center;
    align-items: center;
}

.unit, .upgrade {
    display: none;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    background-color: #aed09e;
    margin-bottom: 5px;
    width: 90%;
}

.unit_text, .upgrade_text {
    text-align: center;
    width: 50%
}

.upgrade_description {
    font-size: 1em;
}

.unit_total, .unit_text > p:first-child, .upgrade_text > p:first-child{
    font-weight: bold;
}

.unit_button, .upgrade_button {
    width: 150px;
}

.cant_afford {
    background-color: #be3737;
}

#units, #upgrades {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#goblin_button {
    background: none;
    border: none;
}
